/* estilos.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00695c;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}






.imagenes-galeria {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.imagen-con-texto {
    text-align: center;
    width: 32%;
}

.imagen-con-texto img {
    width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.imagen-con-texto p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

footer {
    background-color: #004d40;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

iframe {
    border: none;
}
